/*Add task*/

.e-task-attr-contains {
	background: url('../images/down.png') 95% 50% no-repeat;
}

.e-task-add {
	line-height: 50px;
	font-size: 16px;
}

.e-done {
	position: absolute;
	font-size: 18px;
	color: #fff;
	right: 20px;
	top: 15px;
	text-decoration: none;
}

.e-task-add-boxes input {
	border: 0;
	outline: 0;
}