.e-page {
	overflow-x: hidden;
    position: relative;
    left: 75%;
}

.e-page-nav {
	width: 75%;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 2px solid #11C1F3;
	height: 100%;
	z-index: 1000;
	background: #fff;
}


.e-page-header {
	position: absolute;
}

.e-page-nav ul li {
	height: 50px;
	line-height: 50px;
	display: block;	
}

.e-page-nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 17px;
}

.e-exit {
	width: 100%;
	background: #EF473A;
	height: 50px;
	font-size: 18px;
	color: #fff;
	outline: 0;
	border: 0;
	margin: 15px 0 0 0;
	cursor: pointer;
	display: block;
}