@mixin transformx($tr){
	-ms-transform: translateX($tr);
    -webkit-transform: translateX($tr);
    transform: translateX($tr);
}

@mixin input-placeholder-color($ipc){
	::-webkit-input-placeholder {color:$ipc}
	::-moz-placeholder          {color:$ipc}
	:-moz-placeholder           {color:$ipc}
	:-ms-input-placeholder      {color:$ipc}
}

@mixin input-placeholder-focus($ipf) {
	:focus::-webkit-input-placeholder {color: $ipf}
	:focus::-moz-placeholder          {color: $ipf}
	:focus:-moz-placeholder           {color: $ipf}
	:focus:-ms-input-placeholder      {color: $ipf}
}