$base-font-size: 16px;
$bigger-font-size: 18px;
$smaller-font-size: 14px;
$base-color: #000000;
$li-padding: 0 3%;
$li-border-bottom: 2px solid #EAEAEA;
$li-heading-back: #11C1F3;
$li-line-height: 50px;
$li-height: 50px;
